.images{
  height: 90vh;
  width: 100vw;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
}
.btn{
  margin-top: 4px;
  justify-items: center;
  border: 2px solid blue;
  margin-top: 4px; 
  height: 30px;
  width: 100px;
border-radius: 8px;
  color: rgb(251, 255, 196);
  background-color: rgb(0, 238, 255);
}
.ProImage{
  height: 80vh;
  width: 100vw;
  background-image: url("https://img.freepik.com/premium-photo/atomic-3d-illustration_303714-924.jpg?w=740");
  background-size: cover;
  
}